body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  text-align: left;
  display: inline;
  font-size: 11px;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.header p {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 18px;
}

.divider {
  background-image: url(../images/the-flatiron-building.png);
  color:white;
}
