body {
  font-family: helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  float: left;
  text-align: left;
  display: inline;
  background-color: dimgrey;
  width: 100%;
}

.footer p {
  display: inline;
  font-size: 11px;
  color: white;
}

.footer-links {
  display:inline;
  padding-left: 5px;
}

.footer-links li {
  display: inline;
  list-style: none;
  text-decoration: underline;
  color: white;
  font-size: 13px;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}

.header p {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 18px;
}

.divider {
  background-image: url(../images/the-flatiron-building.png);
  color:white;
}
